<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="form-signin" role="form" method="post" action="">
      <h2 class="form-signin-heading">註冊8765432</h2>
  
      <input id="txtUserName" name="txtUserName" type="text" class="form-control" placeholder="帳號" required />
      <input id="txtUserPwd" name="txtUserPwd" type="password" class="form-control" placeholder="密碼" required/>
      <input id="txtUserRePwd"  name="txtUserRePwd" type="password" class="form-control" placeholder="再輸入密碼" required/>  
  
      <button id="btnSub" class="btn btn-lg btn-primary" type="submit">註冊</button>
     <a class="btn btn-link" href="/login" role="button">登入</a>
  </form>  
  </body>
</html>
